In [1]:
import numpy as np 
import pandas as pd

In [149]:
pd.set_option("max_column", 4, "max_rows", 10)

## DataFrame attributes

In [21]:
movies = pd.read_csv('C:/Users/justine.o_kobo360/Desktop/Pandas Workbook/Pandas CookBook 1.x/Data files/movie.csv')

In [4]:
columns = movies.columns

In [5]:
index = movies.index

In [6]:
movies[:10]

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0
5  Color     Andrew Stanton  ...          2.35                 24000
6  Color          Sam Raimi  ...          2.35                     0
7  Color       Nathan Greno  ...          1.85                 29000
8  Color        Joss Whedon  ...          2.35                118000
9  Color        David Yates  ...          2.35                 10000

[10 rows x 28 columns]

In [7]:
data = movies.to_numpy()

In [8]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [9]:
index

RangeIndex(start=0, stop=4916, step=1)

In [10]:
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [11]:
type(index)

pandas.core.indexes.range.RangeIndex

In [12]:
type(columns)

pandas.core.indexes.base.Index

In [13]:
type(data)

numpy.ndarray

In [14]:
issubclass(pd.RangeIndex, pd.Index)

True

In [18]:
issubclass(columns.__class__, pd.Index)

True

In [19]:
index.to_numpy()

array([   0,    1,    2, ..., 4913, 4914, 4915], dtype=int64)

In [20]:
columns.to_numpy()

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

## Understanding data types

In [22]:
movies.dtypes

color                       object
director_name               object
num_critic_for_reviews     float64
duration                   float64
director_facebook_likes    float64
                            ...
title_year                 float64
actor_2_facebook_likes     float64
imdb_score                 float64
aspect_ratio               float64
movie_facebook_likes         int64
Length: 28, dtype: object

In [26]:
movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

In [28]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

## Selecting a column

In [29]:
movies["director_name"]

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [30]:
movies.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [33]:
movies.loc[ :, "director_name"]

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [37]:
movies.iloc[:, 1]

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [38]:
movies["director_name"].index

RangeIndex(start=0, stop=4916, step=1)

In [41]:
movies["director_name"].dtype

dtype('O')

In [42]:
movies["director_name"].size

4916

In [43]:
movies["director_name"].name

'director_name'

In [44]:
type(movies["director_name"])

pandas.core.series.Series

In [47]:
movies["director_name"].apply(type).unique()

array([<class 'str'>, <class 'float'>], dtype=object)

## Calling Series methods

In [49]:
s_attr_mathods = set(dir(pd.Series))

In [50]:
len(s_attr_mathods)

421

In [51]:
df_attr_methods = set(dir(pd.DataFrame))

In [52]:
len(df_attr_methods)

432

In [53]:
len(s_attr_mathods & df_attr_methods)

365

In [54]:
director = movies["director_name"]
fb_likes = movies["actor_1_facebook_likes"]

In [55]:
director.dtype

dtype('O')

In [57]:
fb_likes.dtype

dtype('float64')

In [58]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [59]:
director.sample(n=5, random_state=42)

2347      Brian Percival
4687         Lucio Fulci
691        Phillip Noyce
3911       Sam Peckinpah
2488    Rowdy Herrington
Name: director_name, dtype: object

In [60]:
fb_likes.head()

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

In [63]:
director.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: director_name, Length: 2397, dtype: int64

In [64]:
fb_likes.value_counts()

1000.0     436
11000.0    206
2000.0     189
3000.0     150
12000.0    131
          ...
703.0        1
208.0        1
79.0         1
269.0        1
291.0        1
Name: actor_1_facebook_likes, Length: 877, dtype: int64

In [65]:
director.size

4916

In [66]:
director.shape

(4916,)

In [67]:
len(director)

4916

In [68]:
director.unique()

array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
       'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'], dtype=object)

In [70]:
director.count()

4814

In [71]:
fb_likes.count()

4909

In [72]:
fb_likes.min()

0.0

In [73]:
fb_likes.max()

640000.0

In [74]:
fb_likes.mean()

6494.488490527602

In [75]:
fb_likes.median()

982.0

In [76]:
fb_likes.std()

15106.986883848309

In [77]:
fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [78]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [82]:
fb_likes.quantile(0.2)

510.0

In [83]:
fb_likes.quantile([
    0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9
])

0.1      240.0
0.2      510.0
0.3      694.0
0.4      854.0
0.5      982.0
0.6     1000.0
0.7     8000.0
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, dtype: float64

In [85]:
director.isna()

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [86]:
fb_likes_filled = fb_likes.fillna(0)

In [87]:
fb_likes_filled.count()

4916

In [88]:
fb_likes_dropped = fb_likes.dropna()

In [89]:
fb_likes_dropped.shape

(4909,)

In [91]:
director.value_counts(normalize=True)

Steven Spielberg    0.005401
Woody Allen         0.004570
Martin Scorsese     0.004155
Clint Eastwood      0.004155
Ridley Scott        0.003324
                      ...
John Putch          0.000208
Luca Guadagnino     0.000208
Sam Fell            0.000208
Dan Fogelman        0.000208
Daniel Hsia         0.000208
Name: director_name, Length: 2397, dtype: float64

In [94]:
director.hasnans

True

In [96]:
director.notna()

0        True
1        True
2        True
3        True
4        True
        ...
4911     True
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

## Series Operations

In [97]:
imdb_score = movies["imdb_score"]

In [98]:
imdb_score

0       7.9
1       7.1
2       6.8
3       8.5
4       7.1
       ...
4911    7.7
4912    7.5
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [99]:
imdb_score + 1

0       8.9
1       8.1
2       7.8
3       9.5
4       8.1
       ...
4911    8.7
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [100]:
imdb_score * 2.5

0       19.75
1       17.75
2       17.00
3       21.25
4       17.75
        ...
4911    19.25
4912    18.75
4913    15.75
4914    15.75
4915    16.50
Name: imdb_score, Length: 4916, dtype: float64

In [101]:
imdb_score // 7

0       1.0
1       1.0
2       0.0
3       1.0
4       1.0
       ...
4911    1.0
4912    1.0
4913    0.0
4914    0.0
4915    0.0
Name: imdb_score, Length: 4916, dtype: float64

In [102]:
imdb_score > 7

0        True
1        True
2       False
3        True
4        True
        ...
4911     True
4912     True
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [103]:
director == "James Cameron"

0        True
1       False
2       False
3       False
4       False
        ...
4911    False
4912    False
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [104]:
imdb_score.add(1)

0       8.9
1       8.1
2       7.8
3       9.5
4       8.1
       ...
4911    8.7
4912    8.5
4913    7.3
4914    7.3
4915    7.6
Name: imdb_score, Length: 4916, dtype: float64

In [105]:
imdb_score.gt(7) # imdb_score > 7

0        True
1        True
2       False
3        True
4        True
        ...
4911     True
4912     True
4913    False
4914    False
4915    False
Name: imdb_score, Length: 4916, dtype: bool

In [108]:
money = pd.Series([100, 20, None])
money - 15

0    85.0
1     5.0
2     NaN
dtype: float64

In [109]:
money.sub(15, fill_value=0)

0    85.0
1     5.0
2   -15.0
dtype: float64

## Chaining Series methods

In [113]:
len(set(dir(pd.DataFrame)))

432

In [114]:
director.value_counts().head()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
Name: director_name, dtype: int64

In [117]:
fb_likes.isna().sum()

7

In [118]:
fb_likes.dtypes

dtype('float64')

In [122]:
(fb_likes.fillna(0).astype(int).head())

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

To debug this code, I start by commenting out all of the commands except the first. Then
I uncomment the first chain, make sure it works, and move on to the next.
If I were debugging the previous code, I would comment out the last two method calls and
make sure I knew what .fillna was doing:

In [133]:
(
fb_likes.fillna(0)
# .astype(int)
#.head()
)

0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64

In [123]:
# Another option for debugging chains is to call the 
# .pipe method to show an intermediate value.
def debug_ser(ser):
    print("BEFORE")
    print(ser)
    print("AFTER")
    print(ser)

In [125]:
(fb_likes.fillna(0).pipe(debug_ser).astype(int).head())

BEFORE
0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64
AFTER
0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64

AttributeError: 'NoneType' object has no attribute 'astype'

In [127]:
# If you want to create a global variable to store
# an intermediate value you can also use .pipe:
intermediate = None
def get_intermediate(ser):
    global intermediate
    intermediate = ser
    return ser

In [128]:
res = (
        fb_likes.fillna(0)
        .pipe(get_intermediate)
        .astype(int)
        .head()
)

In [129]:
intermediate

0        1000.0
1       40000.0
2       11000.0
3       27000.0
4         131.0
         ...
4911      637.0
4912      841.0
4913        0.0
4914      946.0
4915       86.0
Name: actor_1_facebook_likes, Length: 4916, dtype: float64

In [134]:
# As was mentioned at the beginning of the recipe,
# it is possible to use backslashes for multi line 
# code. Step 4 may be rewritten this way:
fb_likes.fillna(0)\
     .astype(int)\
     .head()

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32

## Rename Coloumn names

In [144]:
col_map = { 
    "director_name" : "director",
    "num_critic_for_reviews": "critic_review",
}

In [145]:
movies.rename(columns=col_map).head()

,color,director,critic_review,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,48350,Jack Davenport,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,11700,Stephanie Sigman,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,106759,Joseph Gordon-Levitt,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens,8,143,NaN,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [151]:
idx_map = {
    "Avatar": "Ratava",
    "Spectre": "Ertcepe",
    "Pirates of the Caribbean: At World's End": "POC",
    
}


col_map = {
    "aspect_ratio": "aspect",
    "movie_facebook_likes": "fblikes",
}

(
    movies.set_index("movie_title")
     .rename(index=idx_map, columns=col_map)
     .head(3)
)

             color   director_name  ...  aspect  fblikes
movie_title                         ...
Ratava       Color   James Cameron  ...    1.78    33000
POC          Color  Gore Verbinski  ...    2.35        0
Ertcepe      Color      Sam Mendes  ...    2.35    85000

[3 rows x 27 columns]

There are multiple ways to rename row and column labels. It is possible to reassign the index
and column attributes to a Python list. This assignment works when the list has the same
number of elements as the row and column labels.

In [152]:
movies = pd.read_csv('C:/Users/justine.o_kobo360/Desktop/Pandas Workbook/Pandas CookBook 1.x/Data files/movie.csv', index_col="movie_title")

In [155]:
ids =  movies.index.to_list()
columns = movies.columns.to_list()

In [156]:
# rename the row and column labels with list assignmets
ids[0] = "Ratava"
ids[1] = "POC"
ids[2] = "Ertcepe"

columns[1] = "director"
columns[-2] = "aspect"
columns[-1] = "fblikes"
movies.index = ids

In [158]:
movies.columns = columns
movies.head(3)

         color        director  ...  aspect  fblikes
Ratava   Color   James Cameron  ...    1.78    33000
POC      Color  Gore Verbinski  ...    2.35        0
Ertcepe  Color      Sam Mendes  ...    2.35    85000

[3 rows x 27 columns]

In [159]:
# Another option is to pass a function into the 
#.rename method The function takes a column
# name and returns a new name. Assuming there are
#spaces and uppercases in the columns, this code will
# clean them up:

def to_clean(val):
    return val.strip().lower().replace(" ", "_")

In [160]:
movies.rename(columns=to_clean).head(3)

         color        director  ...  aspect  fblikes
Ratava   Color   James Cameron  ...    1.78    33000
POC      Color  Gore Verbinski  ...    2.35        0
Ertcepe  Color      Sam Mendes  ...    2.35    85000

[3 rows x 27 columns]

In [161]:
# In pandas code in the wild, you will also see 
# list comprehensions used to clean up the column names
cols = [
    col.strip().lower().replace(" ", "_") for col in movies.columns
]

In [162]:
movies.columns = cols

In [164]:
movies.head(3)

         color        director  ...  aspect  fblikes
Ratava   Color   James Cameron  ...    1.78    33000
POC      Color  Gore Verbinski  ...    2.35        0
Ertcepe  Color      Sam Mendes  ...    2.35    85000

[3 rows x 27 columns]

## Creating and deleting columns

In [165]:
movies = pd.read_csv('C:/Users/justine.o_kobo360/Desktop/Pandas Workbook/Pandas CookBook 1.x/Data files/movie.csv')

In [166]:
movies["has_seen"] = 0

In [174]:
movies[:5]

   color      director_name  ...  movie_facebook_likes  has_seen
0  Color      James Cameron  ...                 33000         0
1  Color     Gore Verbinski  ...                     0         0
2  Color         Sam Mendes  ...                 85000         0
3  Color  Christopher Nolan  ...                164000         0
4    NaN        Doug Walker  ...                     0         0

[5 rows x 29 columns]

In [175]:
movies = pd.read_csv('C:/Users/justine.o_kobo360/Desktop/Pandas Workbook/Pandas CookBook 1.x/Data files/movie.csv')

In [176]:
# I prefer to use the .assign method instead. 
# This will return a new DataFrame with the new column.
idx_map = {
    "Avatar": "Ratava",
    "Spectre": "Ertcepe",
    "Pirates of the Caribbean: At World's End": "POC",
    
}


col_map = {
    "aspect_ratio": "aspect",
    "movie_facebook_likes": "fblikes",
}

(
    movies.rename(
        index=idx_map, columns=col_map)
     .assign(has_seen=0)
)

      color      director_name  ...  fblikes  has_seen
0     Color      James Cameron  ...    33000         0
1     Color     Gore Verbinski  ...        0         0
2     Color         Sam Mendes  ...    85000         0
3     Color  Christopher Nolan  ...   164000         0
4       NaN        Doug Walker  ...        0         0
...     ...                ...  ...      ...       ...
4911  Color        Scott Smith  ...       84         0
4912  Color                NaN  ...    32000         0
4913  Color   Benjamin Roberds  ...       16         0
4914  Color        Daniel Hsia  ...      660         0
4915  Color           Jon Gunn  ...      456         0

[4916 rows x 29 columns]

In [177]:
# There are several columns that contain data on the
# number of Facebook likes. Let's add up all actor
# and director Facebook like columns and assign them
# to the total_likes column. We can do this in a
# couple of ways.
# we can add each of the columns:
total = (
    movies["actor_1_facebook_likes"]
    + movies["actor_2_facebook_likes"]
    + movies["actor_3_facebook_likes"]
    + movies["director_facebook_likes"]
)

In [201]:
total.head()

0     2791.0
1    46563.0
2    11554.0
3    95000.0
4        NaN
dtype: float64

In [203]:
# My preference is to use methods that we can chain,
# so I prefer calling .sum here.
# I will pass in a list of columns to select to 
# .loc to pull out just those columns that I want to sum:
cols = [
    "actor_1_facebook_likes",
    "actor_2_facebook_likes",
    "actor_3_facebook_likes",
    "director_facebook_likes",
]

sum_col = movies.loc[:, cols].sum(axis="columns")
sum_col.head(5)

0     2791.0
1    46563.0
2    11554.0
3    95000.0
4      274.0
dtype: float64

Then we can assign this Series to the new column. Note that when we called the
+ operator, the result had missing numbers (NaN), but the .sum method ignores
missing numbers by default, so we get a different result:

In [180]:
movies.assign(total_likes=sum_col).head(5)

   color      director_name  ...  movie_facebook_likes  total_likes
0  Color      James Cameron  ...                 33000       2791.0
1  Color     Gore Verbinski  ...                     0      46563.0
2  Color         Sam Mendes  ...                 85000      11554.0
3  Color  Christopher Nolan  ...                164000      95000.0
4    NaN        Doug Walker  ...                     0        274.0

[5 rows x 29 columns]

In [181]:
# Another option is to pass in a function as the
# value of the parameter in the call to the .assign
# method. This function accepts a DataFrame as input 
# and should return a Series:
def sum_likes(df):
    return df[
        [
            c
            for c in df.columns
            if "like" in c 
            and ("actor" in c or "director" in c)
        ]
    ].sum(axis=1)

In [182]:
movies.assign(total_likes=sum_likes).head(5)

   color      director_name  ...  movie_facebook_likes  total_likes
0  Color      James Cameron  ...                 33000       2791.0
1  Color     Gore Verbinski  ...                     0      46563.0
2  Color         Sam Mendes  ...                 85000      11554.0
3  Color  Christopher Nolan  ...                164000      95000.0
4    NaN        Doug Walker  ...                     0        274.0

[5 rows x 29 columns]

In [183]:
# Let's check if there are missing values in our new
# column using both methods:

(
    movies.assign(total_likes=sum_col)["total_likes"]
    .isna()
    .sum()
)

0

In [184]:
(
 movies.assign(total_likes=total)["total_likes"]   
    .isna()
    .sum()
)

122

In [185]:
# we could fill in the missing values with zeroes as well 
(
movies.assign(total_likes=total.fillna(0))[
    "total_likes"
]
.isna()
.sum()
)

0

In [186]:
# Before we create our percentage column, let's do
# some basic data validation. We will ensure that
# cast_total_facebook_likes
# is greater than or equal to total_likes:

def cast_like_gt_actor(df):
    return (
        df["cast_total_facebook_likes"]
        >= df["total_likes"]
    )

In [187]:
df2 = movies.assign(
    total_likes=total,
    is_cast_likes_more=cast_like_gt_actor,
)

In [189]:
df2["is_cast_likes_more"].all()

False

It turns out that there is at least one movie with more total_likes than cast_total_facebook_likes. It could be that director Facebook likes are not part of
the cast total likes. Let's backtrack and delete the total_likes column. We can use the .drop method with the columns parameter to do that:

In [190]:
df = df2.drop(columns="total_likes")

In [191]:
# let recreate a Series or just the total actor likes:
actor_sum = movies[
    [
        c
        for c in movies.columns
        if "actor_" in c and "_likes" in c
    ]
].sum(axis="columns")

In [192]:
actor_sum.head()

0     2791.0
1    46000.0
2    11554.0
3    73000.0
4      143.0
dtype: float64

In [193]:
# Check again whether all the values in
# cast_total_facebook_likes are greater
# than actor_sum. We can do this with the >= operator
# or the .ge method:

movies["cast_total_facebook_likes"] >= actor_sum

0       True
1       True
2       True
3       True
4       True
        ...
4911    True
4912    True
4913    True
4914    True
4915    True
Length: 4916, dtype: bool

In [194]:
movies["cast_total_facebook_likes"].ge(actor_sum)

0       True
1       True
2       True
3       True
4       True
        ...
4911    True
4912    True
4913    True
4914    True
4915    True
Length: 4916, dtype: bool

In [195]:
# Finally, let's calculate the percentage of the
# cast_total_facebook_likes that come from actor_sum:
pct_like = actor_sum.div(
    movies["cast_total_facebook_likes"]
).mul(100)

In [212]:
# Let's validate that the minimum and maximum of
# this Series fall between 0 and 1:
pct_like.describe()

count    4883.000000
mean       83.327889
std        14.056578
min        30.076696
25%        73.528368
50%        86.928884
75%        95.477440
max       100.000000
dtype: float64

In [198]:
# We can then create a Series using the movie_title 
# column as the index. The Series constructor lets us 
# pass in both the values and an index:
pd.Series(
    pct_like.to_numpy(), index=movies["movie_title"]
).head()

movie_title
Avatar                                         57.736864
Pirates of the Caribbean: At World's End       95.139607
Spectre                                        98.752137
The Dark Knight Rises                          68.378310
Star Wars: Episode VII - The Force Awakens    100.000000
dtype: float64